src/main/resources/metro.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="MetroSystem">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Train" type="TrainType"/>
                <xs:element name="Route" type="RouteType"/>
                <xs:element name="Passenger" type="PassengerType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="TrainType">
        <xs:sequence>
            <xs:element name="Carriages" type="CarriagesType"/>
        </xs:sequence>
        <xs:attribute name="number" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="CarriagesType">
        <xs:sequence>
            <xs:element name="Carriage" type="CarriageType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CarriageType">
        <xs:sequence>
            <xs:element name="Seats" type="SeatType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="SeatType">
        <xs:attribute name="quantity" type="xs:int" use="required"/>
        <xs:attribute name="type" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="RouteType">
        <xs:sequence>
            <xs:element name="Station" type="StationType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="StationType">
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="city" type="xs:string" use="required"/>
        <xs:attribute name="address" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="PassengerType">
        <xs:sequence>
            <xs:element name="FromStation" type="xs:string"/>
            <xs:element name="ToStation" type="xs:string"/>
            <xs:element name="Ticket" type="TicketType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="TicketType">
        <xs:attribute name="type" type="xs:string" use="required"/>
    </xs:complexType>

</xs:schema>
